article.news-item{
    border: 55px solid transparent;
    /* Safari */
    -webkit-border-image: url(../img/opendungeons_golden_border.png) 55 55 round;
    /* Opera */
    -o-border-image: url(../img/opendungeons_golden_border.png) 55 55 round; 
    /* firefox */
    -moz-border-image: url(../img/opendungeons_golden_border.png) 55 55 round;
    /* Modern browsers */
    border-image: url(../img/opendungeons_golden_border.png) 55 55 round;
}

footer p{
	border-radius:10px;
}
