/*elements*/
a{

}

body{
	padding-top:60px;
}

div{

}



h2{
	margin-top:20px;
	margin-bottom:20px;
}

h3{
	margin-top:10px;
	margin-bottom:10px;
}

hr{
	height:25px;
}

li{
	margin-left:50px;
}

p{
	text-align:justify;
	margin-left:20px;
	margin-right:20px;
	margin-top:5px;
	margin-bottom:15px;
}

s{
    text-decoration: line-through;
}

ul{
	margin:10px;
}




/*main menu*/
nav#mainmenu{
	width:100%;
	height:70px;
	position:fixed;
	top:0;
	left:0;
}

nav#mainmenu ul{
	width:970px;
	margin:0 auto;
	border-style:solid;
	border-width:0px 1px;
}

nav#mainmenu ul li{
	display:inline-block;
	margin:0;
}

nav#mainmenu ul li a{
	display:inline-block;
	height:50px;
	padding:3px 10px;
	border-style:solid;
	border-width:0px 1px;
	vertical-align:middle;
}

nav#mainmenu ul li a h2{
	display:block;
	margin:0;
	padding:0;
	height:14px;
}

nav#mainmenu ul li a div.icon{
	display:block;
	margin:0px auto;
	height:30px;
	width:30px;
}

/*wrapper*/

div#wrapper{
	width:970px;
	margin:0 auto;
	padding-bottom: 20px;
}


/*header*/
header{
	height:150px;
}

header img#logo{
	height:150px;
}


/*page content*/
section#content{
	padding:10px 50px;
}

section#content img{
	display: block;
	margin: 10px auto;
}




/*Headings*/
h5.li{
	margin-left:50px;
	display:list-item;
	list-style-type:disc;
}

h3 span.date{
	padding:5px;
	float:right;
}

h3{
	border-bottom-style:solid;
	border-bottom-width:1px;
}

footer p{
	text-align: center;
	padding:5px;
	border-width:1px;
	border-style:solid;
}
